<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body style="background-image: url('{% static 'images/book.jpg' %}'); background-size: cover; background-position: center;">
<h1>Delete Book</h1>

<p>Are you sure, want to delete "{{ object.title }}" ??</p>

<form method="post">
    {% csrf_token %}
    <button type="submit">Yes, Delete</button>
</form>

<a href="{% url 'book_list' %}">Cancel</a>

<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>